<p id="notice"><%= notice %></p>
<h1><%=  I18n.t('activerecord.models.city.other') %></h1>


<table class="table-hover">
  <thead>
  <tr>
    <th><%= I18n.t 'activerecord.attributes.city.name' %></th>
    <th><%= I18n.t 'activerecord.attributes.city.cdg_ibge' %></th>
    <th><%= I18n.t 'activerecord.attributes.city.state' %></th>
    <th><%= I18n.t 'activerecord.attributes.city.population_2010' %></th>
    <th><%= I18n.t 'activerecord.attributes.city.demographic_density' %></th>
    <th><%= I18n.t 'activerecord.attributes.city.gentle' %></th>
    <th><%= I18n.t 'activerecord.attributes.city.area' %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render 'collection', collection: @cities %>
  </tbody>
</table>

<br>

<%= paginate @cities %>

<%= page_entries_info @cities %>