<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t 'activerecord.attributes.city.name' %>:</strong>
  <%= @city.name %>
</p>

<p>
  <strong><%= I18n.t 'activerecord.attributes.city.cdg_ibge' %>:</strong>
  <%= @city.cdg_ibge %>
</p>

<p>
  <strong><%= I18n.t 'activerecord.attributes.city.state' %>:</strong>
  <%= @city.state_name %>
</p>

<p>
  <strong><%= I18n.t 'activerecord.attributes.city.population_2010' %> :</strong>
  <%= @city.population_2010 %>
</p>

<p>
  <strong><%= I18n.t 'activerecord.attributes.city.demographic_density' %> :</strong>
  <%= @city.demographic_density %>
</p>

<p>
  <strong><%= I18n.t 'activerecord.attributes.city.gentle' %>:</strong>
  <%= @city.gentile %>
</p>

<p>
  <strong><%= I18n.t 'activerecord.attributes.city.area' %>:</strong>
  <%= @city.area %>
</p>



<%= link_to I18n.t('views.misc.actions.back'), geography_cities_path, class: 'btn btn-sm btn-square btn-default' %>
<%= link_to I18n.t('views.misc.actions.edit'),edit_geography_city_path(@city), class: 'btn btn-sm btn-square btn-default' %>
<%= link_to I18n.t('views.misc.actions.destroy'),geography_cities_path(@city), method: :destroy, data: {confirm: I18n.t('views.misc.actions.confirm') }, class: 'btn btn-sm btn-square btn-default' %>

