<% collection.each do |resource| %>
  <tr>
    <td><%= resource.name %></td>
    <td><%= resource.initials %></td>

    <td class="text-center">
        <%= link_to resource, data: {toggle: 'tooltip', original_title: I18n.t('views.misc.actions.show')}, title: '', class: "btn btn-xs btn-default" do %>
          <i class="fa fa-list"></i>
        <% end %>
        <%= link_to edit_geography_state_path(resource), data: {toggle: 'tooltip', original_title: I18n.t('views.misc.actions.edit')}, title: '', class: "btn btn-xs btn-default" do %>
          <i class="fa fa-pencil"></i>
        <% end %>

        <%= link_to resource, method: :delete, data: { confirm: I18n.t('views.misc.actions.confirm') }, title: '', class: "btn btn-xs btn-default" do %>
          <i class="fa fa-times"></i>
        <% end %>
    </td>
  </tr>
<% end %>